/*@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");*/

/* DARK MODE SUPPORT */
/*:root {
    --color_bg: #fff;
    --color_fg: #000;
}
@media (prefers-color-scheme: dark) {
    :root {
        --color_bg: #000;
        --color_fg: #fff;
    }
}*/

/* LAYOUT UTILS */
/*.row {
    display: flex;
}
.col {
    display: flex;
    flex-direction: column;
}
.row:where(.align-cx) {
    justify-content: center;
}
.col:where(.align-cx) {
    align-items: center;
}*/

header {
    padding-left: 1rem;
    padding-right: 1rem;
}

.dropdown ul {
    max-width: fit-content;
}
